/* The File name: COMP2112-Mid-Term-200496119
   Author's name: Xinyu Zhu
   web site name: The Travel Report
   file description: the css page of the website */
/* custom syle sheet */

.navbar {
    opacity: 1;
}

#MainTitle {
    font-size: 4em;
    color: #5690CF;
    padding-top: 1em
}

main {
    padding-top: 4.375em
}

article, section {
    font-size: 1.35em;
}

#contactForm {
    margin-bottom: 4em;
}

.profileimg{
    width: 18vh;
    margin: 20px auto;
    /* height: 100px; */
}
#author{
    text-align: center;
}